### 1). Print the first 5 positive integers in ascending order with one number in each line

In [6]:
for i in range(5) :
    print (i+1)

1
2
3
4
5

### 2). Print the following pattern <br><br> `*` <br> `**` <br> `***` <br> `****` <br> `*****`<br>There are no spaces between consecutive stars. There are no spaces at the end of each line.

In [8]:
for i in range (6) :
    for j in range (1,i+1) :
        print("*",end = '')
    print()

*
**
***
****
*****

### 3). Accept an integer as input and print its square as output.

In [9]:
x = int(input('Enter an integer : '))
print(f"It's square : {x**2}")

Enter an integer : 34
It's square : 1156

### 4). Accept two integers as input and print their sum as output.

In [11]:
a = int(input('Enter first integer : '))
b = int(input('Enter second integer : '))
print(f"Sum : {a+b}")

Enter first integer : 34
Enter second integer : 23
Sum : 57

### 5). Accept two words as input and print the two words after adding a space between them

In [13]:
print(input(), input())

ineuron
fsds
ineuron fsds

### 6). Accept the registration number of a vehicle as input and print its state-code as output.

In [1]:
RN = input('Enter the vehicle registration number : ')
if len(RN) == 10 and RN[0:2].isalpha() == True :
    print(RN[0:2])
else :
    print('Enter right information')

Enter the vehicle registration number : up16th1426
up

### 7). Accept a five-digit number as input and print the sum of its digits as output.

In [31]:
input('Enter five-digit number : ')
d1 = int(d[0])
d2 = int(d[1])
d3 = int(d[2])
d4 = int(d[3])
d5 = int(d[4])
dsum = d1 + d2 + d3 + d4 + d5
print(dsum)

Enter five-digit number : 12345
15

### 8). Accept five words as input and print the sentence formed by these words after adding a space between consecutive words and a full stop at the end.

In [21]:
w1 = input('Enter first word : ')
w2 = input('Enter second word : ')
w3 = input('Enter third word : ')
w4 = input('Enter fourth word : ')
w5 = input('Enter fifth word : ')
print(w1+' '+w2+' '+w3+' '+w4+' '+w5+'.')

Enter first word : I
Enter second word : am
Enter third word : student
Enter fourth word : of
Enter fifth word : FSDS
I am student of FSDS.

### 9). Accept the date in DD-MM-YYYY format as input and print the year as output.

In [28]:
date = input('Enter the date in DD-MM-YYYY format : ')
if len(date) == 10 and int(date[0:2]) <= 31 and date[2] == '-' and int(date[3:5]) <= 12 and date[5] == '-' :
    print(date[-4:])
else :
    print('Enter the date in correct format')

Enter the date in DD-MM-YYYY format : 12-03-1989
1989

### 10). Accept a sequence of five single digit numbers separated by commas as input. Print the product of all five numbers.

In [32]:
d = input('Enter five-digit number : ')
d1 = int(d[0])
d2 = int(d[1])
d3 = int(d[2])
d4 = int(d[3])
d5 = int(d[4])
dpro = d1 * d2 * d3 * d4 * d5
print(dpro)

Enter five-digit number : 12345
120

### 11). Accept two positive integers x and y as input. Print the number of digits in xy

In [49]:
x1 = int(input('Enter first positive number : '))
y1 = int(input('Enter second positive number : '))
mul = x1 * y1
mul = str(mul)
di = len(mul)
print(f"number of digits in the multiplication : {di}")

Enter first positive number : 34
Enter second positive number : 9332
number of digits in the multiplication : 6

### 12). Accept a string as input. If the input string is of odd length, then continue with it. If the input string is of even length, make the string of odd length as below:<br>• If the last character is a period (.), then remove it <br>• If the last character is not a period, then add a period (.) to the end of the string

In [6]:
sen = input('Enter a string : ')
if len(sen) % 2 == 0 and sen[-1] == '.' :
    sen = sen.replace('.',' ')
    print(sen)
elif len(sen) % 2 == 0 and sen[-1] != '.' :
    sen = sen + '.'
    print(sen)
else :
    print(sen)

Enter a string : red.
red

### 13). Accept three positive integers as input and check if they form the sides of a right triangle. Print YES if they form one, and NO is they do not. The input will have three lines, with one integer on each line. The output should be a single line containing one of these two strings: YES or NO.

In [10]:
b = int(input('Enter first side of right triangle : '))
h = int(input('Enter second side of right triangle : '))
h1 = int(input('Enter third side of right triangle : '))
if h1**2 == h**2 + b**2 or h**2 == b**2 + h1**2 or b**2 == h1**2 + h**2 :
    print('YES')
else :
    print('NO')

Enter first side of right triangle : 8
Enter second side of right triangle : 6
Enter third side of right triangle : 10
YES

### 14). EvenOdd is a tech startup. Each employee at the startup is given an employee id which is a unique positive integer. On one warm Sunday evening, five employees of the company come together for a meeting and sit at a circular table:The employees follow a strange convention. They will continue the meeting only if the following condition is satisfied.<br>The sum of the employee-ids of every pair of adjacent employees at the table must be an even number.They are so lazy that they won’t move around to satisfy the above condition, If the current seating plan doesn’t satisfy the condition, the meeting will be cancelled. You are given the employee-id of all five employees. Your task is to decide if the meeting happened or not.The input will be five lined, each containing an integer. The ith line will have the employee-id of Ei. The output will be a single line containing one of these two strings: YES or NO

In [13]:
E1 = int(input('Enter first employee-id number : '))
E2 = int(input('Enter second employee-id number : '))
E3 = int(input('Enter third employee-id number : '))
E4 = int(input('Enter fourth employee-id number : '))
E5 = int(input('Enter fifth employee-id number : '))
if (E1 + E2) % 2 != 0 :
    print('NO')
elif (E2 + E3) % 2 != 0 :
    print('NO')
elif (E3 + E4) % 2 != 0 :
    print('NO')
elif (E4 + E5) % 2 != 0 :
    print('NO')
elif (E1 + E1) % 2 != 0 :
    print('NO')
else :
    print('YES')

Enter first employee-id number : 23
Enter second employee-id number : 43
Enter third employee-id number : 121
Enter fourth employee-id number : 341
Enter fifth employee-id number : 47
YES

### 15). Accept a string as input and print the vowels present in the string in alphabetical order. If the string doesn’t contain any vowels, then print the string none as output. Each vowel that appears in the input string – irrespective of its case should appear just once in lower case in the output

In [18]:
st = input()
st = st.lower()
vowels = ''
if 'a' in st :
    vowels += 'a'
if 'e' in st :
    vowels += 'e'
if 'i' in st :
    vowels += 'i'
if 'o' in st :
    vowels += 'o'
if 'u' in st :
    vowels += 'u'
if vowels != "" :
    print(vowels)
else :
    print('none')

i am student of fsds batch in ineuron.
aeiou

### 16). You are given the date of birth of two persons, not necessarily from the same family. Your task is to find the younger of the two. If both of them share the same date of birth, then the younger of the two is assumed to be that person whose name comes first in alphabetical order.The input will have four lines. The first two lines correspond to the first person, while the last two lines correspond to the second person. For each person, the first line corresponds to the name and the second line corresponds to the date of birth in “DD-MM-YYYY” format. Your output should be the name of the younger of the two.

In [6]:
n = input('Enter the first person name : ')
n = n.lower()
dob = input('Enter first person dob in DD-MM-YYYY format : ')
if len(dob) == 10 and int(dob[0:2]) <= 31 and dob[2] == '-' and int(dob[3:5]) <= 12 and dob[5] == '-' :
    pass
else :
    print('Enter correct format in DOB')
n1 = input('Enter the second person name : ')
n1 = n1.lower()
dob1 = input('Enter second person dob in DD-MM-YYYY format : ')
if len(dob1) == 10 and int(dob1[0:2]) <= 31 and dob1[2] == '-' and int(dob1[3:5]) <= 12 and dob1[5] == '-' :
    pass
else :
    print('Enter correct format in DOB')
if dob == dob1 :
    if n < n1 :
        print(n)
    else :
        print(n1)
elif int(dob[-4:]) != int(dob1[-4:]) :
    if int(dob[-4:]) < int(dob1[-4:]) :
        print(n1)
    else :
        print(n)
elif int(dob[3:5]) != int(dob1[3:5]) :
    if int(dob[3:5]) < int(dob1[3:5]) :
        print(n1)
    else :
        print(n)
else :
    if int(dob[0:2]) < int(dob1[0:2]) :
        print(n1)
    else :
        print(n)

Enter the first person name : abhi
Enter first person dob in DD-MM-YYYY format : 12-10-1997
Enter the second person name : birju
Enter second person dob in DD-MM-YYYY format : 12-10-1997
abhi

### 17). Accept a string as input. Your task is to determine if the input string is a valid password or not. For a string to be a valid password, it must satisfy all the conditions given below:<br>(1) It should have at least 8 and at most 32 characters<br>(2) It should start with an uppercase or lowercase letter<br>(3) It should not have any of these characters: / \ = ' "<br>(4) It should not have spaces<br>It could have any character that is not mentioned in the list of characters to be avoided (points 3 and 4). Output True if the string forms a valid password and False otherwise

In [9]:
pa = input('Enter the password : ')
if len(pa) >= 8 or len(pa) <= 32 :
    pass
if pa[0].isupper() == True or pa[0].islower() == True :
    pass
if '/' in pa or '=' in pa or '\'' in pa or '"' in pa or ' ' in pa :
    print('False')
else :
    print('True')

Enter the password : vkviwfg/
False

### 18). Accept a positive integer n as input and print the first n positive integers, one number on each line.

In [12]:
n = int(input('Enter the integer : '))
for i in range(1,n+1) :
    print(i)

Enter the integer : 12
1
2
3
4
5
6
7
8
9
10
11
12

### 19). Accept a positive integer n as input, where n is greater than 1. Print PRIME if n is a prime number and NOTPRIME otherwise.

In [19]:
n1 = int(input('Enter a number : '))
if n1 > 1 :
    for i in range(2, int(n/2)+1) :
        if (n1 % i) == 0:
            print('NOTPRIME')
            break
    else :
        print('PRIME')

Enter a number : 11433231
NOTPRIME

### 20). Accept two strings as input and form a new string by removing all characters from the second string which are present in the first string. Print this new string as output. You can assume that all input strings will be in lower case.

In [25]:
st1 = input('Enter first string : ')
st1 = st1.lower()
st2 = input('Enter second string : ')
st2 = st2.lower()
for st3 in st1:
     if st3 in st2:
            st2 = st2.replace(st3,'')
print(st2)

Enter first string : Ineuron FSDS
Enter second string : september batch
ptmbbatch

### 21). Accept a phone number as input. A valid phone number should satisfy the following constraints.<br>(1) The number should start with one of these digits: 6, 7, 8, 9<br>(2) The number should be exactly 10 digits long.<br>(3) No digit should appear more than 7 times in the number.<br>(4) No digit should appear more than 5 times in a row in the number.<br>If the fourth condition is not very clear, then consider this example: <br>the number 9888888765 is invalid because the digit 8 appears more than 5 times in a row. Print the string valid if the phone number is valid. If not, print the string invalid.

In [32]:
n=input('Enter a phone number : ')
a=False
if len(n)==10 and int(n[0])>5 and n.isdigit() :
    for i in range(10):
        if n.count(n[i])<8:
            a=True
            if n[i]*6 in n:
                a=False
                break
        else:
            break
if a:
    print('valid')
else:
    print('invalid')

Enter a phone number : 6754324356
valid

### 22). In the first line of input, accept a sequence of space-separated words. In the second line of input, accept a single word. If this word is not present in the sequence, print NO. If this word is present in the sequence, then print YES and in the next line of the output, print the number of times the word appears in the sequence.

In [37]:
s1 = input('Enter the words : ').split(' ')
s2 = input('Enter a word : ')
if s2 in s1 :
    print('YES')
    print(s1.count(s2))
else :
    print('NO')

Enter the words : First I saw the white bear, then I saw the black; Then I saw the camel with a hump upon his back; Then I saw the grey wolf, with mutton in his maw; Then I saw the wombat waddle in the straw; Then I saw the elephant a-waving of his trunk; Then I saw the monkeys – mercy, how unpleasantly they smelt!
Enter a word : saw
YES
7

### 23). Write a function named factorial that accepts an integer n as argument. It should return the factorial of n if n is a positive integer. It should return -1 if n is a negative integer, and it should return 1 if n is zero.

In [11]:
print(fact(int(input('Enter a number : '))))
def fact(n) :
    if n<0 :
        return -1
    elif n == 0 :
        return 1
    else :
        f = 1
        for i in range(1,n+1) :
            f *= i
        return f

Enter a number : 0
1

### 24). The range of a list of numbers is the difference between the maximum and minimum values in the list Write a function named get_range that accepts a non-empty list of real numbers as argument. It should return the range of the list.<br>(1) Avoid using built-in function such as max and min.<br>(2) You do not have to accept input from the user or print output to the console.<br>You just have to write the function definition.

In [1]:
def get_max(L):
    maximum = L[0]
    for x in L:
        if x > maximum:
            maximum = x
    return maximum
def get_min(L):
    minimum = L[0]
    for x in L:
        if x < minimum:
            minimum = x
    return minimum
def get_range(L):
    maximum = get_max(L)
    minimum = get_min(L)
    return maximum - minimum

In [2]:
get_range([7,9,3,4,19,45,8])

42

### 25). Write a function named read_file that accepts a text file named filename as argument. Within the function, read the file and print each line of the file on a separate line in the console. You shouldn't print any extra characters at the end of a line. There shouldn't be an empty line between any two consecutive lines.<br>(1) filename is a string variable that holds the name of the file. For example, in the first test case, it is filename = 'public_1.txt'.<br>(2) You do not have to accept input from the console. You have to write the function definition and print the contents of the file within the function

In [17]:
def read_file(filename):
    with open(filename, 'r') as file:
        for line in file:
            print(line.rstrip())

In [18]:
read_file('doha.txt')

Ineuron FSDS Sep 2022 Batch

### 26). A simple algorithm has to be designed to find out whether a student belongs to the Data Science branch or not. The input will be a student's roll number, which is of the form BR18B0000. Here, BR represents the branch code, 18 represents the year of joining, B represents the education level and 0000 represents the specific identification given to the student of that batch. The branch code for Data Science is DS. Print True if the student belongs to Data Science branch and False otherwise.

In [8]:
RN = input('Enter your roll number : ')
if len(RN) == 9 :
    if RN[0:2].isalpha() and RN[2:4].isdigit() and RN[4].isalpha() and RN[5:].isdigit() :
        if 'DS' in RN[0:2] :
            print('True')
        else :
            print('False')

Enter your roll number : DS87G8970
True

### 27). The police are trying to track a criminal based on the evidence available at a crime site. Their main clue is a vehicle's damaged number plate. Only the string TN07 is visible. The format of the registration number is AA00AA00, where the first two letters are alphabets, next two are numbers, next two are again alphabets followed by two numbers at the end. A number plate is picked from a database of registration numbers and is given to you as input. Your task is to determine if this could belong to the criminal or not. Print True if the number plate contains TN07 and False otherwise.

In [9]:
NP = input('Enter the registration number : ')
if len(NP) == 8 :
    if NP[0:2].isalpha() and NP[2:4].isdigit() and NP[4:6].isalpha() and NP[6:8].isdigit() :
        if NP[0:2] or NP[4:6] == 'TN' and NP[2:4] or NP[6:] == '07' :
            print('True')
        else :
            print('False')

Enter the registration number : TG90TN07
True

### 28). You are given a string and two non-negative integers as input. The two integers specify the start and end indices of a substring in the given string. Create a new string by replicating the substring a minimum number of times so that the resulting string is longer than the input string. The input parameters are the string, start index of the substring and the end index of substring (endpoints inclusive) each on a different line.

In [13]:
n=input()
a=int(input())
b=int(input())
x=n[a:b+1]
y=len(n)
ans=""
while(y>=len(ans)):
    ans+=x
print(ans)

it
1
3
ttt

### 29). A class teacher has decided to split her entire class into four groups, namely Sapphire, Peridot, Ruby, and Emerald for sports competitions. For dividing the students into these four groups,<br> she has followed the pattern given below:<br>Sapphire - 1, 5, 9, 13, 17, 21, ...<br>Peridot - 2, 6, 10, 14, 18, 22, ...<br>Ruby - 3, 7, 11, 15, 19, 23, ...<br>Emerald - 4, 8, 12, 16, 20, 24, ...<br>All the students are represented by their roll numbers. Based on the above pattern, given the roll number as input, print the group the student belongs to. Note that the roll number can be any positive integer and not necessarily less than 25.

In [15]:
roll_n = int(input('Enter your roll number : '))
for i in range(1,roll_n+1,4):
    if roll_n==i:
        print('Sapphire')
for j in range(2,roll_n+1,4):
    if roll_n==j:
        print('Peridot')
for k in range(3,roll_n+1,4):
    if roll_n==k:
        print('Ruby')
for l in range(4,roll_n+1,4):
    if roll_n==l:
        print('Emerald')

Enter your roll number : 7
Ruby

### 30). A data science company wants to hire data scientists from abc college. The company follows a certain criteria for selection: for a student to be selected, the number of backlogs should be at most 5 and the CGPA (Cumulative Grade Point Average) should be greater than 6. If the student does not fit the above criteria, then the student is not offered the job. If the student is selected, then the salary offered is equal to 5 times his/her CGPA (in lakhs).Accept the number of backlogs (integer) and the CGPA (float) of the student as input. Your task is to determine if the student is selected or not. If the student is selected, then print the package. If not, then print the string Not Selected.

In [6]:
back = int(input('Enter the number of backlogs you have : '))
cgpa = float(input('Enter your CGPA : '))
if back > 5 or cgpa < 6 :
    print('Not Selected')
else :
    print(f'Your package offered by company for data scientist : {cgpa*5}LPA')

Enter the number of backlogs you have : 4
Enter your CGPA : 7.33
Your package offered by company for data scientist : 36.65LPA

### 31). Accept a string as input and print PALINDROME if it is a palindrome, and NOT PALINDROME otherwise

In [12]:
a = input('Enter a string : ')
if a == a[::-1] :
    print('PALINDROME')
else :
    print('NOT PALINDROME')

Enter a string : repaper
PALINDROME

### 32). In a portal login website, you are asked to write a function get_password_strength to decide the strength of a password. The strength is decided based on the total score of the password, Use following conditions:<br>1) If password has length greater than 7 then score increases by one point.<br>2) If password has at least one upper case and one lower case alphabets score increases by one point.<br>3) If password has at least one number and no consecutive numbers like 12 or 234 then score increases by one point.<br>4) If password has at least one special character (any character other than numbers and alphabets) then score increases by one point.<br>5) If password contains username, then it is invalid password.<br>If the password has score of four points, three points, two points, or one point then print Very Strong, Strong, Moderate, or Weak respectively. If the password is invalid, then print PASSWORD SHOULD NOT CONTAIN USERNAME and If the score is zero, then print Use a different password.The arguments to the function are username and password which are already defined

In [13]:
def get_password_strength(username, password) :
    if username.lower() in password.lower() :
        return "PASSWORD SHOULD NOT CONTAIN USERNAME"
    score = 0
    if len(password) > 7 :
        score += 1
    if any(c.isupper() for c in password) and any(c.islower() for c in password) :
        score += 1
    if any(c.isdigit() for c in password) and not any(str(i)+str(i+1) in password for i in range(9)) :
        score += 1
    if any(not c.isalnum() for c in password) :
        score += 1
    if score == 4 :
        return "Very Strong"
    elif score == 3 :
        return "Strong"
    elif score == 2 :
        return "Moderate"
    elif score == 1 :
        return "Weak"
    else :
        return "Use a different password"

In [16]:
get_password_strength('ineuron','Fsds@872')

'Very Strong'

### 33). Decorator that logs the date and time

In [17]:
from datetime import datetime
def log_datetime(func):
    '''Log the date and time of a function'''

    def wrapper():
        print(f'Function: {func.__name__}\nRun on: {datetime.today().strftime("%Y-%m-%d %H:%M:%S")}')
        print(f'{"-"*30}')
        func()
    return wrapper


@log_datetime
def daily_backup():

    print('Daily backup job has finished.')

In [19]:
daily_backup()

Function: daily_backup
Run on: 2023-03-22 12:09:19
------------------------------
Daily backup job has finished.

### 34). Program to Get Data Items From a List Appearing Odd Number of Times

In [20]:
a = [1,2,3,3,4,2,6,7,8,9,9,0,3]
l = []
for i in a :
    if a.count(i) % 2 != 0 :
        if i not in l :
            l.append(i)
print(l)

[1, 3, 4, 6, 7, 8, 0]

### 35). What are decorators in Python?

In Python, a decorator is a special type of function that can be used to modify or enhance the behavior of another function without actually changing its source code. Decorators are implemented using the @ symbol followed by the name of the decorator function.

### 36). remove items from a list while iterating but without creating a different copy of a list. Remove numbers greater than 50<br>number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]<br>Expected Output : [10, 20, 30, 40, 50]

In [5]:
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for number in number_list[:] :
    if number > 50 :
        number_list.remove(number)
print(number_list)

[10, 20, 30, 40, 50]

### 37). Display all duplicate items from a list <br>sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]<br>Expected Output: [20, 60, 30]

In [3]:
sample_list = [10,20,60,30,20,40,30,60,70,80]
Output = []
for number in sample_list :
    if sample_list.count(number) > 1 :
        if number not in Output :
            Output.append(number)
print(Output)

[20, 60, 30]

### 38). Create an outer function that will accept two strings, x and y. (x= 'Emma' and y = 'Kelly'.Create an inner function inside an outer function that will concatenate x and y.At last, an outer function will join the word 'developer' to it.

In [9]:
def outer_function(x, y) :
    def inner_function() :
        return x + y
    concatenated_string = inner_function()
    return concatenated_string + ' developer'
result = outer_function('Emma', 'Kelly')
print(result)

EmmaKelly developer

### 39. Modify the element of a nested list inside the following list Change the element 35 to 3500<br> list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]

In [5]:
list1 = [5,[10,15,[20,25,[30,35],40],45],50]
list1[1][2][2][1] = 3500
list1

[5, [10, 15, [20, 25, [30, 3500], 40], 45], 50]

### 40). Access the nested key increment from the following dictionary Access 12<br>emp_dict = {<br>&nbsp;&nbsp;&nbsp;"company": {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"employee": {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"name": "Jess",<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"payable": {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"salary": 9000,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"increment": 12<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br>&nbsp;&nbsp;&nbsp;}<br>}

In [9]:
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}

In [10]:
emp_dict["company"]["employee"]["payable"]["increment"]

12

### 41). Print the sum of the current number and the previous number<br>Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.<br>Printing current and previous number sum in a range(10)<br>Current Number 0 Previous Number  0  Sum:  0<br>Current Number 1 Previous Number  0  Sum:  1<br>Current Number 2 Previous Number  1  Sum:  3<br>Current Number 3 Previous Number  2  Sum:  5<br>Current Number 4 Previous Number  3  Sum:  7<br>Current Number 5 Previous Number  4  Sum:  9<br>Current Number 6 Previous Number  5  Sum:  11<br>Current Number 7 Previous Number  6  Sum:  13<br>Current Number 8 Previous Number  7  Sum:  15<br>Current Number 9 Previous Number  8  Sum:  17

In [14]:
previous_number = 0
for current_number in range(10):
    current_sum = current_number + previous_number
    print(f'Current Number {current_number} Previous Number {previous_number} Sum : {current_sum}' )
    previous_number = current_number

Current Number 0 Previous Number 0 Sum : 0
Current Number 1 Previous Number 0 Sum : 1
Current Number 2 Previous Number 1 Sum : 3
Current Number 3 Previous Number 2 Sum : 5
Current Number 4 Previous Number 3 Sum : 7
Current Number 5 Previous Number 4 Sum : 9
Current Number 6 Previous Number 5 Sum : 11
Current Number 7 Previous Number 6 Sum : 13
Current Number 8 Previous Number 7 Sum : 15
Current Number 9 Previous Number 8 Sum : 17

### 42). Print characters from a string that are present at an even index number<br>Write a program to accept a string from the user and display characters that are present at an even index number.<br>For example, str = "ineuron" so you should display ‘i’, ‘e’, ‘r’, ‘n’.

In [18]:
a = input("Enter a string : ")
for i in range(0, len(a), 2):
    print(a[i], end=' ')

Enter a string : ineuron fsds 2.0
i e r n f d   .

### 43). Print multiplication table form 1 to 10<br>1  2 3 4 5 6 7 8 9 10<br>2  4 6 8 10 12 14 16 18 20<br>3  6 9 12 15 18 21 24 27 30<br>4  8 12 16 20 24 28 32 36 40 <br>5  10 15 20 25 30 35 40 45 50<br>6  12 18 24 30 36 42 48 54 60 <br>7  14 21 28 35 42 49 56 63 70<br>8  16 24 32 40 48 56 64 72 80<br>9  18 27 36 45 54 63 72 81 90<br>10 20 30 40 50 60 70 80 90 100

In [19]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end="\t")
    print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

### 44). Remove duplicates from a list and create a tuple and find the minimum and maximum number<br>sample_list = [87, 45, 41, 65, 94, 41, 99, 94]<br>Expected Outcome:unique items [87, 45, 41, 65, 94, 99]<br>tuple (87, 45, 41, 65, 94, 99)<br>min: 41<br>max: 99

In [24]:
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
unique_list = sorted(list(set(sample_list)))
u_tuple = tuple(unique_list)
min_val = unique_list[0]
max_val = unique_list[-1]
print("unique items", unique_list)
print("tuple", unique_tuple)
print("min:", min_val)
print("max:", max_val)

unique items [41, 45, 65, 87, 94, 99]
tuple (65, 99, 41, 45, 87, 94)
min: 41
max: 99

### 45). Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument, also create a lambda function that multiplies argument x with argument y and print the result.

In [26]:
b = lambda x : x + 15
print(b(5))
mul = lambda x, y : x * y
print(mul(3, 4))

20
12

### 46). Write a Python program to sort a list of tuples using Lambda.

In [28]:
my_list = [('Ineuron', 2020), ('FSDS', 2.0), ('Batch', 2022), ('September', 17)]
sorted_list = sorted(my_list, key=lambda x : x[1])
print(sorted_list)

[('FSDS', 2.0), ('September', 17), ('Ineuron', 2020), ('Batch', 2022)]

### 47). Write a Python program to extract year, month, date and time using Lambda.

In [29]:
import datetime
now = datetime.datetime.now()
get_year = lambda x: x.strftime("%Y")
get_month = lambda x: x.strftime("%m")
get_day = lambda x: x.strftime("%d")
get_time = lambda x: x.strftime("%H:%M:%S")
year = get_year(now)
month = get_month(now)
day = get_day(now)
time = get_time(now)
print("Year:", year)
print("Month:", month)
print("Day:", day)
print("Time:", time)

Year: 2023
Month: 03
Day: 24
Time: 11:29:15

### 48). Write a Python program to count the even, odd numbers in a given array of integers using Lambda.

In [31]:
my_array = [13, 82, 33, 44, 55, 86, 74, 83, 19,89]
count_even = len(list(filter(lambda x: x % 2 == 0, my_array)))
count_odd = len(list(filter(lambda x: x % 2 != 0, my_array)))
print("Even numbers:", count_even)
print("Odd numbers:", count_odd)

Even numbers: 4
Odd numbers: 6

### 49.) Write a Python program to convert all the characters in uppercase and lowercase and eliminate duplicate letters from a given sequence.<br>Use map() function.

In [32]:
def transform_string(s):
    s_upper = ''.join(map(str.upper, s))
    s_lower = ''.join(map(str.lower, s))
    s_unique = ''.join(set(s))
    return s_upper, s_lower, s_unique
s = "Ineuron FSDS 2.0 September Batch"
s_upper, s_lower, s_unique = transform_string(s)
print(s_upper)
print(s_lower)
print(s_unique)

INEURON FSDS 2.0 SEPTEMBER BATCH
ineuron fsds 2.0 september batch
2Fp BcbIe.tauo0SDrhmn

### 50). Write a Python program to square the elements of a list using map() function.

In [33]:
def square_list(lst):
    return list(map(lambda x: x**2, lst))
lst = [11, 22, 8, 19, 25]
squared_lst = square_list(lst)
print(squared_lst)

[121, 484, 64, 361, 625]