# 1). In the below elements which of them are values or an expression? 
eg:- values can be integer or string and expressions will be mathematical operators.
*, 'hello', -87.8, -, /, +, 6

Expression = *, -, /, +
Values = 'hello', -87.8, 6

## 2). What is the difference between string and variable?

string --> It's a value representing text.
variable --> variable is a name that can refer to any value

## 3). Describe three different data types.

int --> we can use int data type to represent the positive or negative whole numbers (without fraction or decimal).
string --> collection of one or more characters in a single quote,double quote or triple quote
boolean --> in this data type two built-in values are there, True or False

In [1]:
# Examples of the data types
num = 67
print(type(num),num)

note = 'your data is 100% secure'
print(type(note),note)

comp = 3+6j
print(type(comp),comp)

<class 'int'> 67
<class 'str'> your data is 100% secure
<class 'complex'> (3+6j)

## 4). What is an expression made up of? What do all expressions do?

An expression is a combination of variables,values,operands,operators that is interpreted to produce some other value.

## 5). This assignment statements, like spam = 10. What is the difference between an expression and a statement?

An expression is a combination of variables,values,operators that is interpreted to produce some other value.
statement represent an action or command eg. print statement

## 6). After running the following code, what does the variable bacon contain?

In [2]:
bacon = 22
bacon + 1
print(bacon) #bacon will contain 22

22

## 7). What should the values of the following two terms be?

In [4]:
print('spam'+'spamspam')
print('spam'*3)
# both will print same

spamspamspam
spamspamspam

## 8). Why is eggs a valid variable name while 100 is invalid?

According to python rule a variable name can't start with number so 100 is invalid variable name and eggs is valid variable name.

## 9). What three functions can be used to get the integer, floating-point number, or string version of a value?

The int(), float(), and str() functions will evaluate to the integer, floating-point number and string versions of the value passed to them.

In [5]:
# Example

num = 10
print(type(int(num)))
print(type(float(num)))
print(type(str(num)))

<class 'int'>
<class 'float'>
<class 'str'>

## 10). Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + 'burritos.'

In [6]:
'I have eaten ' + 99 + 'burritos.' #it will give error because 99 is integer and others are string so we can't concatenate int with string

TypeError: can only concatenate str (not "int") to str

In [8]:
'I have eaten ' + '99 ' + 'burritos.' #to remove the error we have to convert 99 into string

'I have eaten 99 burritos.'